@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.listTask {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.search {
  box-sizing: border-box;
  margin-bottom: 2em;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  width: 80%;
}

.updateButton {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #5cb85c;
  color: white;
  border: 0px solid #fff;
  border-radius: 10px;
}
